<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Als een verzoek geen bestaand bestand of map is, stuur het naar index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
