@import "tailwindcss";

@theme {
    /* Hier definiëren we de kleur op de v4 manier */
    --color-dgs-green: #22c55e;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    color: var(--foreground);
    background: var(--background);
    margin: 0;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
}
